@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logo-dark {
  filter: brightness(0) saturate(100%) invert(95%) sepia(100%) saturate(21%) hue-rotate(357deg) brightness(104%) contrast(107%);
}

.menu>li {
  list-style-type: none;
}


::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f4f4f4;
  border-radius: 20px;
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: #a9aeb1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a9aeb1;
}

.overlay {
  background: linear-gradient(180deg, transparent, #101010);
}

.rich-text {
  @apply space-y-4; 

  blockquote {
    font-style: italic;
    border-left: 4px solid #3498db;
    padding: 1rem 1.5rem;
    margin: 1.5rem 0;
    background-color: #f5f8fa;
    color: #555;
    border-radius: 5px;
  }

  blockquote p {
    margin: 0;
    @apply dark:text-white;
  }

  blockquote::before {
    content: '“';
    font-size: 2rem;
    line-height: 0;
    vertical-align: -0.4rem;
    color: #3498db;
    margin-right: 0.5rem;
  }

  blockquote::after {
    content: '”';
    font-size: 2rem;
    line-height: 0;
    vertical-align: -0.4rem;
    color: #3498db;
    margin-left: 0.5rem;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0.5em;
    color: #333;
    @apply dark:text-white;
  }

  b,
  strong {
    font-weight: bold;
    color: #000;
    @apply dark:text-white;
  }

  i,
  em {
    font-style: italic;
    color: #333;
    @apply dark:text-white;
  }

  u {
    text-decoration: underline;
  }

  ul,
  ol {
    margin-left: 2em;
    padding-left: 1em;
    @apply dark:text-white;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    margin-bottom: 0.5em;
  }

  a {
    color: #1e90ff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  hr {
    border-style: dashed;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold my-2 mx-0 dark:text-white;;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  figure {
    @apply flex flex-col;

    img {
      @apply max-w-full w-full h-auto block my-2 mx-auto object-cover;
    }

    figcaption {
      @apply text-sm italic mx-auto;
    }
  }

  pre {
    @apply bg-[#f5f5f5] p-4 overflow-x-auto;
  }

  code {
    @apply bg-[#f0f0f0] px-1.5 py-1;
    font-family: 'Courier New', Courier, monospace;
  }
}